*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #1E3A8A;
    
    padding: 10px 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

header div{
    display: flex;
    align-items: center ;
    width: 50px;
    margin-right: 30px;
}

nav{
    display: flex;
    align-items: center;
    gap: 24px;
   }

nav ul
{
    display: flex;
    list-style: none;
    
    
}

li{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

   
}

li a{
     text-decoration: none;
     color: white;
    font-weight: 500;
    padding-bottom: 6px;
    position: relative;
}
li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0c1730;
    transition: width 0.3s ease;
}
li a:hover::after,
li a.active::after{
    width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease;
  z-index: 1000;
}



/* Contenedor principal */
.hero { /* Para evitar que el header lo tape */
  position: relative;
  height: 100vh;
  background-image: url("img/gasss.jpg");
  background-size: cover;
  background-position: center;
}

/* Capa oscura */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Texto encima de todo */
.hero h1 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  z-index: 1;
}

#backToTop { 
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #080808, #000000);
  color: red;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  z-index: 1000;
}



.services {
  background-color: blue;
  padding: 60px 80px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin: auto;
}

/* Cada card ocupa 50% */
.card {
  display: flex;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  flex: 1 1 calc(50% - 12px);
  min-height: 200px;
}

/* Imagen */
.card img {
  width: 35%;
  object-fit: cover;
}

/* Contenido */
.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

.card-content a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.contacto {
  background: #b91c1c; /* rojo */
  padding: 60px 40px;
}

.contacto h2 {
  text-align: center;
  color: #fff;
    font-size: 2rem;
  margin-bottom: 40px;
}

.contenedor {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* IZQUIERDA */
.info {
  flex: 1;
  color: #fff;
}



.descripcion {
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.box {
  background: #fff;
  color: #111;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.mapa {
  height: 200px;
  background: #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

/* DERECHA */
.formulario {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
}

.formulario h3 {
  margin-bottom: 20px;
}



input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
  resize: none;
  margin-top: 15px;
  margin-bottom: 10px;
}

.check {
  font-size: 0.85rem;
  display: block;
  margin-bottom: 15px;
}

.check a {
  color: #2563eb;
  text-decoration: none;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.input-group {
        position: relative;
        margin-bottom: 20px;
    }

    .input-group input {
        width: 100%;
        padding: 12px 15px;
        font-size: 16px;
        border: 2px solid #ddd;
        border-radius: 8px;
        outline: none;
        background: transparent;
        transition: border-color 0.3s;
    }

    .input-group input:focus {
        border-color: #667eea;
    }

    .input-group label {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 16px;
        pointer-events: none;
        transition: all 0.3s ease;
        background: white;
        padding: 0 5px;
    }

    .input-group input:focus + label,
    .input-group input:valid + label {
        top: 0;
        font-size: 12px;
        color: #667eea;
    }





