*{
    margin: 0;
    padding: 0;

}
.container{
    background-image: url(../img/gasss.jpg);
    width: 100%;
    height: 100vh;
    margin-top: 32px;
    background-size: cover;
}
.text{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
.text p{
    display: flex;
    height: 100vh;
    align-items: center;
}
.text span{
    display: flex;
    gap: 10px;
    width: 60vw;
    height: 4vh;
    justify-items: end;
    padding: 10px;
    background-color: aqua;
    margin-bottom: 150px;
}
.text span a{
    width: 100vw;
    height: 100%;
}
